/*  TextPad - 1.2.0
 *
 *  File: app.css
 *  Author: Paulo Nunes, http://syndicatefx.com
 *  Source: https://github.com/syndicatefx/textpad
 *  License: MIT
 */

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  min-height: 100%;
  font-family: "Roboto Mono",monospace;
  font-size: 1em;
  /*Fix for FF on Mac: Font rendering a bit bolder than it should*/
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"],textarea {
  display: block;
  width: 100%;
  padding: .5em;
}

textarea {
  resize: none;
  background: inherit;
}

button:focus,input:focus,textarea:focus {
  outline: none;
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
}
.bg-80 {
  background:rgba(244,244,244,.8)
}

.container {
  max-width: 1200px;
}

.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.top-6 {
  top: 6rem;
}

.card-hover {
  transition: .5s;
}

.card-hover:hover {
  transform: rotate(0deg) scale(1.15) !important;
  z-index: 5;
  box-shadow: 4px 4px 16px 0px rgba( 0, 0, 0, 0.2);

}
